<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h3>Historical Weather Data API</h3>
    <p>URL Format : http://127.0.0.1:5000/api/station/date</p>
    <p>URL Example : http://127.0.0.1:5000/api/10/1860-01-02</p>
    <p>All Stations Data : http://127.0.0.1:5000/api/10</p>
    <p>Yearly Data : http://127.0.0.1:5000/api/yearly/10/1860</p>
     # Display stations table from txt file and safe is used as Flask don't render html
    <p>{{data|safe}}</p>
</body>
</html>